<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  The <a href="https://github.com/nishchay2192">Rails App</a>
  is a project to make a Twitter like App to get on with web development
  in Ruby on Rails.
</p>